# A little more about counting and stemming

Believe it or not, beyond just stemming there are **multiple ways to count words!**

And what words do you count? Originals? Lowercased? Stemmed? Lemmatized?

There are so many options!

In [41]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [42]:
# # Give me a THING that will count words for me!!!!!
# vec = CountVectorizer()
# # I have some sentences, please count the words in them
# matrix = vec.fit_transform(phrases)
# # And turn it into a dataframe
# docs = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())

In [43]:
# We'll use this later!
# def stemming_tokenizer(str_input):
#     words = re.sub(r"[^A-Za-z0-9\-]", " ", str_input).lower().split()
#     words = [porter_stemmer.stem(word) for word in words]
#     return words

In [62]:
texts = [
    "Penny bought bright blue fishes.",
    "Penny bought a bright blue and orange fish.",
    "The fish fished fish.",
    "I'm fishing fish.",
    "I hate blue bugs",
    'A blue bug ate fish.',
    'fish'
]

In [45]:
vec = CountVectorizer()

In [46]:
matrix = vec.fit_transform(texts)

In [47]:
matrix.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [48]:
vec.get_feature_names()

['and',
 'ate',
 'blue',
 'bought',
 'bright',
 'bug',
 'bugs',
 'fish',
 'fished',
 'fishes',
 'fishing',
 'hate',
 'orange',
 'penny',
 'the']

In [49]:
results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

,and,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny,the
0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0
1,1,0,1,1,1,0,0,1,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
5,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0

In [50]:
vec = CountVectorizer()
matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

,and,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny,the
0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0
1,1,0,1,1,1,0,0,1,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
5,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0

# Stop words or stopwords

In [51]:
vec = CountVectorizer(stop_words=['a','the', 'and'])
matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

# no column for "the" now

,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny
0,0,1,1,1,0,0,0,0,1,0,0,0,1
1,0,1,1,1,0,0,1,0,0,0,0,1,1
2,0,0,0,0,0,0,2,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,0,0,0
4,0,1,0,0,0,1,0,0,0,0,1,0,0
5,1,1,0,0,1,0,1,0,0,0,0,0,0

In [52]:
vec = CountVectorizer(stop_words='english')
# Stopwords in English (automatically)

matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny
0,0,1,1,1,0,0,0,0,1,0,0,0,1
1,0,1,1,1,0,0,1,0,0,0,0,1,1
2,0,0,0,0,0,0,2,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,0,0,0
4,0,1,0,0,0,1,0,0,0,0,1,0,0
5,1,1,0,0,1,0,1,0,0,0,0,0,0

# Steaming

In [53]:
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()

In [54]:
porter_stemmer.stem('fishing')

'fish'

In [55]:
porter_stemmer.stem('fished')

'fish'

## Stemmer Tokenizer

In [56]:
from textblob import TextBlob

# Use textblob
def textblob_tokenizer(str_input):
    blob = TextBlob(str_input.lower())
    tokens = blob.words
    words = [token.stem() for token in tokens]
    return words

# Use 
def stemming_tokenizer(str_input):
    words = re.sub(r"[^A-Za-z0-9\-]", " ", str_input).lower().split()
    words = [porter_stemmer.stem(word) for word in words]
    return words

In [57]:
stemming_tokenizer('I went finshing to get fishes')

['i', 'went', 'finsh', 'to', 'get', 'fish']

In [58]:
textblob_tokenizer('I went finshing to get fishes')

['i', 'went', 'finsh', 'to', 'get', 'fish']

## Use our tokenizer that also stems

In [59]:
vec = CountVectorizer(stop_words='english', tokenizer=textblob_tokenizer)
# Stopwords in English (automatically)

matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

   'm  ate  blue  bought  bright  bug  fish  hate  orang  penni
0   0    0     1       1       1    0     1     0      0      1
1   0    0     1       1       1    0     1     0      1      1
2   0    0     0       0       0    0     3     0      0      0
3   1    0     0       0       0    0     2     0      0      0
4   0    0     1       0       0    1     0     1      0      0
5   0    1     1       0       0    1     1     0      0      0

# TF-IDF

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer(stop_words='english', 
                     tokenizer=textblob_tokenizer,
                     use_idf=False,
                     norm='l1')
# Stopwords in English (automatically)

matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

,'m,ate,blue,bought,bright,bug,fish,hate,orang,penni
0,0.000000,0.00,0.200000,0.200000,0.200000,0.000000,0.200000,0.000000,0.000000,0.200000
1,0.000000,0.00,0.166667,0.166667,0.166667,0.000000,0.166667,0.000000,0.166667,0.166667
2,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
3,0.333333,0.00,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000
4,0.000000,0.00,0.333333,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000
5,0.000000,0.25,0.250000,0.000000,0.000000,0.250000,0.250000,0.000000,0.000000,0.000000
6,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000

In [64]:
results.sort_values(by='fish', ascending=False)

,'m,ate,blue,bought,bright,bug,fish,hate,orang,penni
2,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
6,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
3,0.333333,0.00,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000
5,0.000000,0.25,0.250000,0.000000,0.000000,0.250000,0.250000,0.000000,0.000000,0.000000
0,0.000000,0.00,0.200000,0.200000,0.200000,0.000000,0.200000,0.000000,0.000000,0.200000
1,0.000000,0.00,0.166667,0.166667,0.166667,0.000000,0.166667,0.000000,0.166667,0.166667
4,0.000000,0.00,0.333333,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000

In [66]:
# Only search for fish and bug now

vec = TfidfVectorizer(stop_words='english', 
                      vocabulary=['fish','bug'],
                      tokenizer=textblob_tokenizer,
                      use_idf=False,
                      norm='l1')
# Stopwords in English (automatically)

matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

   fish  bug
0   1.0  0.0
1   1.0  0.0
2   1.0  0.0
3   1.0  0.0
4   0.0  1.0
5   0.5  0.5
6   1.0  0.0

In [68]:
# Only search for fish and bug now

vec = CountVectorizer(stop_words='english', 
                      vocabulary=['fish','bug'],
                      tokenizer=textblob_tokenizer,
                      )
# Stopwords in English (automatically)

matrix = vec.fit_transform(texts)

results = pd.DataFrame(matrix.toarray(), columns = vec.get_feature_names())
results

   fish  bug
0     1    0
1     1    0
2     3    0
3     2    0
4     0    1
5     1    1
6     1    0